button,
button:hover {
  color: #3A6468;
  background-color: white;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button,
::ng-deep .p-button {
  color: white !important;
  background-color: #3A6468;
  border: 1px solid #3A6468;
}